# diretorios auxiliares
.pdf/
.aux/

# arquivos comprimidos
*.zip

# mac >:(
.DS_Store
.AppleDouble
.LSOverride

# windows >:(
Thumbs.db
[Dd]esktop.ini
*.lnk

# editores
.vscode/
*.swp

# varios
tags
*.patch
*.diff
